@font-face {
  font-family: 'Lato';
  src: url("assets/Lato-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'Lato Bold';
  src: url("assets/Lato-Bold.ttf") format('truetype');
}

@font-face {
  font-family: 'Satisfy';
  src: url("assets/Satisfy-Regular.ttf") format('truetype');
}

.lato {
  font-family: "Lato", sans-serif;
}

.lato-bold {
  font-family: "Lato Bold", sans-serif;
}

.satisfy {
  font-family: "Satisfy", serif;
}

.gray-fr {
  color: #717277;
}

.blue-fr {
  color: #0f2e93;
}

.green-fr {
  color: #41bb49;
}

.bg-blue-fr {
  background-color: #0f2e93;
}

.bg-light-blue-fr {
  background-color: #88b8cf;
}

.bg-light-gray-fr {
  background-color: #f5f6f6;
}

.bg-gradient-fr {
  background: linear-gradient(0deg, #88c946, #127bc0);
}

.bg-green-fr {
  background-color: #41bb49;
}

.hover-bg-green-fr:hover {
  background-color: #88c946;
}

.f2-fr {
  font-size: 1.85rem;
}

.f0 {
  font-size: 0;
}

.nm {
  margin: 0;
}

.icon {
  max-width: 36px;
  max-height: 36px;
}

.w-three-quarters {
  width: 0.75rem;
}

.accordion::after {
  content: '\2BC8';
  float: right;
  margin-right: 0.5rem;
}

:checked+.accordion::after {
  content: '\2BC6';
  float: right;
  margin-right: 0.5rem;
}

:checked~.panel {
  display: block;
}

@media screen and (min-width:30em) {
  .w-14-ns {
    width: 14% !important;
  }

  .w-15-ns {
    width: 15% !important;
  }

  .bg-light-gray-fr-ns {
    background-color: #f5f6f6 !important;
  }

  .green-fr-ns {
    color: #41bb49 !important;
  }

  .accordion::after {
    display: none;
  }

  :checked+.accordion::after {
    display: none;
  }
}

@media screen and (min-width:60em) {
  .lato-bold-l {
    font-family: "Lato Bold", sans-serif;
  }
}

@media screen and (min-width:1800px) {
  .pt5-xl {
    padding-top: 4rem !important;
  }

  .f2-xl {
    font-size: 2.25rem !important;
  }
}