@font-face {
  font-family: 'Lato';
  src: url("assets/Lato-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'Lato Bold';
  src: url("assets/Lato-Bold.ttf") format('truetype');
}

.lato {
  font-family: "Lato", sans-serif;
  color: #0f2e93;
}

.lato-bold {
  font-family: "Lato Bold", sans-serif;
  color: #0f2e93;
}

.bg-blue-fr {
  background-color: #0f2e93;
}

.bg-light-blue-fr {
  background-color: #74bdd0;
}

.hover-bg-green-fr:hover {
  background-color: #88c946;
}

.w-14 {
  width: 14%;
}

.w-15 {
  width: 15%;
}

.f0 {
  font-size: 0;
}

.no-margin {
  margin: 0;
}

.nav-tile {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.social-media-logo {
  max-width: 36px;
  max-height: 36px;
}